{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5 ">
    <div class="container">
        <div>
            <div>
                <h1>Actores</h1>
                <h4></h4>
            </div>
            <img class="img-fluid w-50" src="img/background.jpg" alt="" />
        </div>
    </div>
    <a href="/AppNQV/actoresFormulario" button type="button" class="btn btn-light"
    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
    Agregar Actores
    </a>
</section>
{% endblock %}