{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
        <h1>Eliminar Pelicula</h1>
        <p></p>
    </div>
</section>
{% if peliculas %}
<div class="card text-center">
    <div class="card-header">
        <div class="alert alert-danger" role="alert">
            <h2>Estas por borrar {{peliculas.nombre}}, estas seguro?</h2>
            <a href="/AppNQV/peliculas" class="alert-link">No, Volver</a>.
        </div>
        
    </div>
    <div class="card-body">
        <h3 class="card-title">Categoría: {{peliculas.clasificacion}}</h3>
        <h3 class="card-text">Estreno: {{peliculas.fechaDeEstreno}}</h3>
        <h3 class="card-text">Puntuación: {{peliculas.ratingIMDB}}</h3>
        <h3 class="card-text">Duración: {{peliculas.duracion}}</h3>
        <h3 class="card-text">Ganó Oscar?: {% if peliculas.oscar == True %} Si {% else %} No {% endif %} </h3>
        <p></p>        
    </div>
    <div class="card-footer text-muted">
        <form method = "POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Eliminar</button>
        </form>
</section>
{% else %}
<div class="card text-center">
    <div class="card-header">
        <div class="alert alert-success" role="alert">
            <h2>{{message4}}</h2>
            <a href="/AppNQV/peliculas" class="alert-link">Volver</a>.
        </div>
    
{%endif%}
{% endblock %}