{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
        <div>
                <h1>Peliculas</h1>
                
                <h4></h4>
</section>
<div class="card text-center">
    
            <h2>{{peliculas.nombre}}</h2>
</div>
    <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item list-group-item-secondary">Duración: {{peliculas.duracion}} minutos</li>
                <li class="list-group-item list-group-item-secondary">Clasificación: {{peliculas.clasificacion}}</li>
                <li class="list-group-item list-group-item-secondary">Fecha de Estreno: {{peliculas.fecha_De_Estreno}}</li>
                <li class="list-group-item list-group-item-secondary">Ganó Oscar?: 
                    {% if pelicula.oscar == True %} Si {% else %} No {% endif %} </li>
                <li class="list-group-item list-group-item-secondary">Rating IMdB: {{peliculas.ratingIMDB}} </li>
                <a class="list-group-item list-group-item-secondary">Link Trailer: {{peliculas.linkTrailer}} </a>
                <a href="/AppNQV/peliculas-editar/{{peliculas.id}}/" class="btn btn-primary">Editar</a>
                <a href="/AppNQV/peliculas-borrar/{{peliculas.id}}/" class="btn btn-danger">Eliminar</a>
                <p></p>
            </ul>
    </div>


    </div>
</section>
{% endblock %}