{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
        <h1>Peliculas</h1>
        <a href="/AppNQV/peliculas-formulario" button type="button" class="btn btn-outline-danger"
        style="--bs-btn-padding-y: .35rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85em;">
        Agregar Peliculas
        </a>
                {{message4}}
                {{message5}}
                <h4></h4>
                <p></p>
            {% for pelicula in object_list %}
            <div class="card bg-secondary mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if pelicula.imagen_peliculas %}
                        <a href="/AppNQV/peliculas-detalle/{{pelicula.id}}/">
                        <img src="{{pelicula.imagen_peliculas.url}}" class="img-fluid rounded-start" alt="...">
                        </a>
                        {%else%}
                        <a href="/AppNQV/peliculas-detalle/{{pelicula.id}}/">
                        <img src="media/cinema-vector.jpg" class="img-fluid rounded-start" alt="...">
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{pelicula.nombre}}</h5>
                                <li class="list-group-item list-group-item">Duración: {{peliculas.duracion}} minutos</li>
                                <li class="list-group-item list-group-item">Clasificación: {{peliculas.clasificacion}}</li>
                                <li class="list-group-item list-group-item">Fecha de Estreno: {{peliculas.fecha_De_Estreno}}</li>
                                <li class="list-group-item list-group-item">Ganó Oscar?: 
                                    {% if pelicula.oscar == True %} Si {% else %} No {% endif %} </li>
                                <li class="list-group-item list-group-item">Rating IMdB: {{peliculas.ratingIMDB}} </li>
                                <li class="mb-2"><a class= 'link-light'  href="{{peliculas.linkTrailer}}" target="_blank"
                                    rel="noopener">Ver Trailer</a></li>
                        </div>
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}