{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
        <div>
            <h1>Formulario - Agregar una Plataforma</h1>
            <h4>{{message1}}</h4>

        
        
        
            <form action="" method="POST" enctype="'multipart/form-data">
                {% csrf_token %}
                <table>


                    {{ form.as_table }}


                </table>

                <input type="submit", value="Enviar">
            </form>
        </div>
    </div>
</section>
{% endblock %}