{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
        <div>
            <div>
                <h1>Detalle de Plataformas</h1>
                <h4></h4>
            </div>
            {% if messages %}
            <div class="alert alert-success" role="alert"><h5>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </h5></ul></div>
            {% endif %}
<div class="card mb-3 container bg-secondary text-light" style="max-width: 700px;">
<div class="row g-0">
<div class="col-md-4">
    {% if plataformas.imagen_plataformas %}
    <img src="{{plataformas.imagen_plataformas.url}}" class="img-fluid rounded-start" width="200px" height="200px">
    {%else%}
    <img src="media/cinema-vector.jpg" class="img-fluid rounded-start" alt="...">
    {% endif %}
</div>
<div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title">{{plataformas.nombre}}</h5>
        <li class="list-group-item list-group-item">Cantidad de Usuarios Activos: {{plataformas.cantidadUsuarios}}</li>
                    <li class="list-group-item list-group-item">Peliculas Disponibles: {{plataformas.cantidadPeliculasDisponibles}} </li>
                    <li class="list-group-item list-group-item">Series Disponibles: {{plataformas.cantidadSeriesDisponibles}}</li>
                    <li class="list-group-item list-group-item">Precio Suscripción: $ {{plataformas.precioSuscripcion}} /mes</li>
                    <li class="mb-2"><a class= 'link-light'  href="{{plataformas.linkPlataforma}}" target="_blank"
                        rel="noopener">Link Plataforma</a></li>
                    <a href="/AppNQV/plataformas-editar/{{plataformas.id}}/" class="btn btn-outline-light btn-sm">Editar</a>
                    <a href="/AppNQV/plataformas-borrar/{{plataformas.id}}/" class="btn btn-danger btn-sm">Eliminar</a>
            </div>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}