{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5 ">
    <div class="container">
        <h1>Actores</h1>
        <a href="/AppNQV/actores-formulario" button type="button" class="btn btn-outline-danger"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            Agregar Actores
        </a>
                <h4></h4>
            <p></p>
            {% if messages %}
            <div class="alert alert-success" role="alert"><h5>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </h5></ul></div>
            {% endif %}
            {% for actor in object_list %}
            <div class="card bg-secondary mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if actor.imagen_actores %}
                        <a href="/AppNQV/actores-detalle/{{actor.id}}/">
                        <img src="{{actor.imagen_actores.url}}" class="img-fluid rounded-start" width= '150px' height="150px">
                        </a>
                        {%else%}
                        <a href="/AppNQV/actores-detalle/{{actor.id}}/">
                        <img src="media/cinema-vector.jpg" class="img-fluid rounded-start" alt="...">
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{actor.nombre}} {{actor.apellido}}</h5>
                            <p class="card-text"></p>
                            <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</section>
{% endblock %}