{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5 ">
    <div class="container">
        <h1>Actores</h1>
        <a href="/AppNQV/actores-formulario" button type="button" class="btn btn-outline-danger"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            Agregar Actores
        </a>
                <h4></h4>
            {{message2}}
            {{message3}}
            <p></p>
            {% for actor in object_list %}
            <div class="text-center">
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark"><h2>{{actor.nombre}} {{actor.apellido}}</h2></li>
            </div>
                <div class="text-center">
                {% if actor.imagen_actores %}
                <img src="{{actor.imagen_actores.url}}" class="img" alt="" width="430" height="350">
                {% endif %}
            </div>
            <div class="text-center">
                <a href="/AppNQV/actores-detalle/{{actor.id}}/" class="btn btn-outline-light">Ver detalle</a>
            </div>
                <p></p>
            </ul>
            {% endfor %}
        </div>
        
    </div>
</section>
{% endblock %}