{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5 ">
    <div class="container">
        <h1>Actores</h1>
                <h4></h4>
            {{message2}}
    </div>
</section>
<div class="text-center">
    <div class="card-header">
        <h2>{{actores.nombre}} {{actores.apellido}}</h2>
    </div>
</div>

<div class="card-body">
    <ul class="list-group">

    <li class="list-group-item list-group-item-secondary">Edad: {{actores.edad}}</li>
    <li class="list-group-item list-group-item-secondary">Origen: {{actores.origen}} </li>
    <li class="list-group-item list-group-item-secondary">Fecha de Nacimiento: {{actores.fechaDeNacimiento}} </li>
    <a href="/AppNQV/actores-editar/{{actores.id}}/" class="btn btn-primary">Editar</a>
    <a href="/AppNQV/actores-borrar/{{actores.id}}/" class="btn btn-danger">Eliminar</a>

    </ul>
</div>
</section>
{% endblock %}