{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5 ">
    <div class="container">
        <div>
            <div>
                <h1>Nosotros</h1>
                
            </div>

    <div class="center">
        <div class="content_inner">
            <!--<figure class="articulo_imagen">                                       </figure> -->
            <div class="content_box">
                <div class="typeset content_text">
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}