{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
   <section class="bg-dark text-light p-5 ">
        <div class="container">
            <div>
                <div>
                    <h1>Quienes somos</h1>
                    
        <div class="center">
            <div class="content_inner">
                <div class='container rel'>
                    <h2>Solana Heredia</h2>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item list-group-item-primary">Edad</li>
                        <li class="list-group-item">32</li>
                    </ul>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item list-group-item-dark">Zona</li>
                        <li class="list-group-item">San Cristobal</li>
                    </ul>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item list-group-item-info">Estudio</li>
                        <li class="list-group-item">Bioquimica, Master en Administracion de Empresas</li>
                    </ul>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item list-group-item-danger">Trabajo</li>
                        <li class="list-group-item">Asuntos Regulatorios</li>
                    </ul>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item list-group-item-success">Lo que mas difruto</li>
                        <li class="list-group-item">Ver pelis, viajar</li>
                    </ul>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item list-group-item-secondary">Comida Favorita</li>
                        <li class="list-group-item">Ramen</li>
                    </ul>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item list-group-item-primary">Por que estudie python?</li>
                        <li class="list-group-item">Siento curiosidad por programar!</li>
                    </ul>
                </div>
<div class="center">
    <div class="content_inner">
        <div class='container rel'>
                        <h2>Sebastian</h2>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item list-group-item-primary">Edad</li>
                            <li class="list-group-item">--</li>
                        </ul>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item list-group-item-dark">Zona</li>
                            <li class="list-group-item">--</li>
                        </ul>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item list-group-item-info">Estudio</li>
                            <li class="list-group-item">--</li>
                        </ul>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item list-group-item-danger">Trabajo</li>
                            <li class="list-group-item">--</li>
                        </ul>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item list-group-item-success">Lo que mas difruto</li>
                            <li class="list-group-item">--</li>
                        </ul>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item list-group-item-secondary">Comida Favorita</li>
                            <li class="list-group-item">--</li>
                        </ul>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item list-group-item-primary">Por que estudie python?</li>
                            <li class="list-group-item">--</li>
                        </ul>
    </section>

    
    
</svg>
{% endblock %}