{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5 ">
    <div class="container">
        <div>
            <div>
                <h1>Contacto</h1>

            </div>

            <div class="center">
                <div class="content_inner">
                    <!--<figure class="articulo_imagen">                                       </figure> -->
                    <form action="/contacto/" method="POST">{% csrf_token %}
                    <div class="content_box">
                        <div class="typeset content_text">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Email</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="name@example.com" name="email">
                                <span class="input-group-text">Asunto</span>
                                <input type="text" aria-label="asunto" class="form-control" name="asunto">
                            </div>
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text">Mensaje: </span>
                                    <textarea class="form-control" aria-label="With textarea" name="mensaje"></textarea>
                                </div>
                                <input type="submit" , value="Enviar">
                                    </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
</section>
{% endblock %}