{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
        <h1>Sucess</h1>
        <p></p>
    </div>
</section>
<div class="card text-center">
    <div class="card-header">
        <div class="card text-center">
            <div class="card-header">
                <div class="alert alert-success" role="alert">
                    <h2>Mensaje enviado</h2>
                    <a href="/" class="alert-link">Volver</a>.
                </div>
    
</section>


{% endblock %}