{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5 ">
    <div class="container">
        <h1>Actores</h1>
        <a href="/AppNQV/actores-formulario" button type="button" class="btn btn-outline-danger"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            Agregar Actores
        </a>
                <h4></h4>
            {{message2}}
            {{message3}}
            <p></p>
            {% for actor in actores %}
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark"><h2>{{actor.nombre}} {{actor.apellido}}</h2></li>
                <li class="list-group-item list-group-item-secondary">Edad: {{actor.edad}}</li>
                <li class="list-group-item list-group-item-secondary">Origen: {{actor.origen}} </li>
                <li class="list-group-item list-group-item-secondary">Fecha de Nacimiento: {{actor.fechaDeNacimiento}} </li>
                <a href="/AppNQV/actores-detalle/{{actor.id}}/" class="btn btn-outline-light">Ver detalle</a>
                <p></p>
            </ul>
            {% endfor %}
        </div>
        
    </div>
</section>
{% endblock %}