{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
        <div>
            <div>
                <h1>Formulario - Agregar un Actor</h1>
                <h4></h4>

            {{massage2}}

            </div>
            {% if miFormularioActores.errors %}
            <p style="color: red;"> Estan mal los datos, revisar</p>
            {% endif %}


            <form action="" method="POST">{% csrf_token %}
                <table>


                    {{ miFormularioActores.as_table }}


                </table>

                <input type="submit", value="Enviar">
            
            </form>
            
        </div>
    </div>
</section>
{% endblock %}