{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
        <h1>Peliculas</h1>
        <p></p>
    </div>
</section>
<div class="card text-center">
    <div class="card-header">
        <h2>{{peliculas.nombre}}</h2>
    </div>
    <div class="card-body">
        <h3 class="card-title">Categoría: {{peliculas.clasificacion}}</h3>
        <h3 class="card-text">Estreno: {{peliculas.fechaDeEstreno}}</h3>
        <h3 class="card-text">Puntuación: {{peliculas.ratingIMDB}}</h3>
        <h3 class="card-text">Duración: {{peliculas.duracion}}</h3>
        <h3 class="card-text">Ganó Oscar?: {% if peliculas.oscar == True %} Si {% else %} No {% endif %} </h3>
        <p></p>
        <a href="{{peliculas.linkTrailer}}" class="btn btn-dark" target="_blank">Ver trailer</a>
    </div>
    <div class="card-footer text-muted">
    </div>
    <div class="d-grid gap-2 d-md-block">
        <a href="/AppNQV/peliculas-editar/{{peliculas.id}}/" class="btn btn-dark" type="button">Editar</a>
        <a href="/AppNQV/peliculas-borrar/{{peliculas.id}}/" class="btn btn-danger">Eliminar</a>
    </div>
</section>
{% endblock %}