{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
        <h1>Peliculas</h1>
        <a href="/AppNQV/peliculas-formulario" button type="button" class="btn btn-outline-danger"
        style="--bs-btn-padding-y: .35rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85em;">
        Agregar Peliculas
        </a>
                {{message4}}
                {{message5}}
                <h4></h4>
                <p></p>
            {% for pelicula in peliculas %}
            <div class="text-center">
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark"><h2>{{pelicula.nombre}}</h2> </li>
            </div>
                <div class="text-center">
                <img src="{{pelicula.imagen_peliculas.url}}" class="img" alt="" width="280" height="350">
                </div>
                <div class="text-center">
                <a href="/AppNQV/peliculas-detalle/{{pelicula.id}}/" class="btn btn-outline-light">Ver detalle</a>
                </div>
                <p></p>
            </ul>
        {% endfor %}
    </div>
</section>
{% endblock %}