{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
        <div>
            <div>
                <h1>Detalle de Peliculas</h1>
                {{message4}}
                <h4></h4>
                <p></p>
            </div>
            
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark"><h2>{{peliculas.nombre}}</h2> </li>
                <li class="list-group-item list-group-item-secondary">Duración: {{peliculas.duracion}} minutos</li>
                <li class="list-group-item list-group-item-secondary">Clasificación: {{peliculas.clasificacion}}</li>
                <li class="list-group-item list-group-item-secondary">Fecha de Estreno: {{peliculas.fecha_De_Estreno}}</li>
                <li class="list-group-item list-group-item-secondary">Ganó Oscar?: 
                    {% if pelicula.oscar == True %} Si {% else %} No {% endif %} </li>
                <li class="list-group-item list-group-item-secondary">Rating IMdB: {{peliculas.ratingIMDB}} </li>
                <a href="/AppNQV/PlataformaEditar/{{actores.id}}/" class="btn btn-primary">Editar</a>
                <a href="/AppNQV/peliculas-borrar/{{peliculas.id}}/" class="btn btn-danger">Eliminar</a>
                <p></p>
            </ul>
            
        </div>
        <a href="/AppNQV/peliculasFormulario" button type="button" class="btn btn-light"
            style="--bs-btn-padding-y: .35rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85em;">
            Agregar Peliculas
        </a>

    </div>
</section>
{% endblock %}