{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
        <div>
            <div>
                <h1>Plataformas</h1>

{{massage}}

                <h4></h4>
            </div>
            {% for plataforma in plataformas %}
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark"><h2>{{plataforma.nombre}}</h2></li>
                <li class="list-group-item list-group-item-secondary">Cantidad de Usuarios Activos: {{plataforma.cantidadUsuarios}}</li>
                <li class="list-group-item list-group-item-secondary">Peliculas Disponibles: {{plataforma.cantidadPeliculasDisponibles}} </li>
                <li class="list-group-item list-group-item-secondary">Precio Suscripción: $ {{plataforma.precioSuscripcion}} /mes</li>
                <a href="/AppNQV/plataformas-Detalle/{{plataforma.id}}/" class="btn btn-primary">Ver mas!</a>
                <p></p>
            </ul>
            {% endfor %}
        </div>
        <a href="/AppNQV/plataformasFormulario" button type="button" class="btn btn-light"
            style="--bs-btn-padding-y: .35rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85em;">
            Agregar Plataformas
        </a>
    </div>
</section>
{% endblock %}