{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
        <div>
            <h1>Formulario - Agregar una Plataforma</h1>
            <h4></h4>
        </div>
        <div>
            
            
            {%if plataforma in plataformas%}
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark"><h2>{{plataforma.nombre}}</h2></li>
                <li class="list-group-item list-group-item-secondary">Cantidad&nbsp;de Usuarios Activos: {{plataforma.cantidadUsuarios}}</li>
                <li class="list-group-item list-group-item-secondary">Peliculas Disponibles: {{plataforma.cantidadPeliculasDisponibles}} </li>
                <li class="list-group-item list-group-item-secondary">Precio Suscripción: {{plataforma.precioSuscripcion}} </li>
                <p></p>
            </ul>
            
            {% elif miFormularioPlataformas.errors %}
            <p style="color: red;"> Estan mal los datos, revisar</p>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <table>


                    {{ miFormularioPlataformas.as_table }}


                </table>

                <input type="submit", value="Enviar">
            
            </form>

            
            
        </div>
    </div>
</section>
{% endblock %}