{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
        <h1>Eliminar Plataforma</h1>
        <p></p>
    </div>
</section>
{% if plataforma %}
<div class="card text-center">
    <div class="card-header">
        <div class="alert alert-danger" role="alert">
            <h2>Estas por borrar {{plataforma.nombre}}, estas seguro?</h2>
            <a href="/AppNQV/plataformas" class="alert-link">No, Volver</a>.
        </div>
        
    </div>
    <div class="card-body">
        <h3 class="card-text">Cantidad de Usuarios: {{plataforma.cantidadUsuarios}}</h3>
        <h3 class="card-text">Cantidad de peliculas disponibles: {{plataforma.cantidadPeliculasDisponibles}}</h3>
        <h3 class="card-text">Precio de suscripcion: ${{plataforma.precioSuscripcion}}</h3>
        <p></p>        
    </div>
    <div class="card-footer text-muted">
        <form action = '/AppNQV/plataformas-borrar/{{plataforma.id}}/' method = "POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Eliminar</button>
        </form>
</section>
{% else %}
<div class="card text-center">
    <div class="card-header">
        <div class="alert alert-success" role="alert">
            <h2>PLATAFORMA ELIMINADA CORRECTAMENTE</h2>
            <a href="/AppNQV/plataformas" class="alert-link">Volver</a>.
        </div>
    
{%endif%}
{% endblock %}