{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
        <h1>Plataformas</h1>
        <p></p>
    </div>
</section>
<div class="card text-center">
    <div class="card-header">
        <h2>{{plataformas.nombre}}</h2>
        {{message1}}
    </div>
    <div class="card-body">
        <h3 class="card-text">Cantidad de Usuarios Activos: {{plataformas.cantidadUsuarios}}</h3>
        <h3 class="card-text">Peliculas Disponibles: {{plataformas.cantidadPeliculasDisponibles}} </h3>
        <h3 class="card-text">Precio Suscripción: $ {{plataformas.precioSuscripcion}} /mes</h3>
        <p></p>
    </div>
    <div class="card-footer text-muted">
    </div>
    <div class="d-grid gap-2 d-md-block">
        <a href="/AppNQV/plataformas-editar/{{plataformas.id}}/" class="btn btn-dark" type="button">Editar</a>
        <a href="/AppNQV/plataformas-borrar/{{plataformas.id}}/" class="btn btn-danger">Eliminar</a>
    </div>
</section>
{% endblock %}