{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
        <div>
            <div>
                <h1>Detalle de Plataformas</h1>
                <h4></h4>
            </div>
            
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark"><h2>{{plataformas.nombre}}</h2></li>
                <li class="list-group-item list-group-item-secondary">Cantidad de Usuarios Activos: {{plataformas.cantidadUsuarios}}</li>
                <li class="list-group-item list-group-item-secondary">Peliculas Disponibles: {{plataformas.cantidadPeliculasDisponibles}} </li>
                <li class="list-group-item list-group-item-secondary">Precio Suscripción: $ {{plataformas.precioSuscripcion}} /mes</li>
               
                <p></p>
            </ul>
            
        </div>
       
    </div>
</section>
{% endblock %}