{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
        <h1>Plataformas</h1>
        <a href="/AppNQV/plataformas-formulario" button type="button" class="btn btn-outline-danger"
        style="--bs-btn-padding-y: .35rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85em;">
        Agregar Plataformas
        </a>
                {{message1}}
            
            {% for plataforma in object_list %}
            <div class="text-center">
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark"><h2>{{plataforma.nombre}}</h2>
                <img src="{{plataforma.imagen_plataformas.url}}" class="img" alt="" width="500" height="350">
            </div>
                <div class="text-center">
                    <a href="/AppNQV/plataformas-detalle/{{plataforma.id}}/" class="btn btn-outline-light">Ver detalle</a>
                </div> 
            </ul>
   <p></p>
            
            {% endfor %}
        </div>
        
    </div>
</section>
{% endblock %}