{% extends 'padre.html' %}

{% block titulo %}
Actualizar Peliculas
{% endblock %}

{% block contenidoQueCambia %}
<section class="bg-dark text-light p-5">
    <div class="container">
                        <h1>Perfil de Usuario</h1>
            </div>
</section>
<div class="card text-center">
    <h2>Usuario: {{user.username | capfirst}}</h2>
</div>
<div class="input-group mb-3">
            <ul class="list-group">
                {% if form %}
                {% load crispy_forms_tags %}
                <form action="" method="POST" style="margin-left:30rem;margin-top:7rem">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" , value="Enviar">
                </form>
                {% endif %}
            </ul>
        </div>

<p></p>
<div class="card text-center">
    <p></p>
    <p></p>
</div>
</div>
</section>
    

{% endblock %}